/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

@import '../common';

.wp-block { // This may need to be .wp-block in WordPress 5+
    
  .PublitioBlockContainer {
    border: 1px solid $gray;
    padding: 1rem;
  }

  .PublitioBlockButtonContainer {
    text-align: center;
    //padding: 22% 0;
    background: $off-white;
    border: 1px solid $gray;
    border-radius: 2px;
    //margin: 0 0 1.2rem 0;
    height: 315px;
    display: flex;
    justify-content: center;
    align-items: center;

    a{
      text-decoration: none;

      button{
        display: flex;
      }
    }
  }
  
}


