/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 @import url('https://fonts.googleapis.com/css?family=Raleway');

.publitio-page-wrapper {
    padding: 50px 50px;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
}

.publitio-section-paragraph {
    font-size: 1.1rem;
}

.publitio-a {
    color: #4D6D90
}

.publitio-a:hover {
    color: #4D6D90;
}

.publitio-emphasize {
    font-weight: bold;
    color: #4D6D90;
}

.publitio-section-title {
    color: #4D6D90;
    font-weight: 800;
}

.publitio-form-input, .publitio-form-select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 40px !important;
}

.publitio-form-input:focus {
    border-color: #4D6D90;
}

.publitio-form-label {
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: bold;
}

.publitio-button {
    background-color: #4D6D90;
    padding: 10px 30px;
    border: 1px solid #4D6D90;
    color: white;
    border-radius: 3%;
    box-shadow: 5px 5px 5px grey;
}

.publitio-button:hover {
    cursor: pointer;
    text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;
}

.publitio-button-section-wrapper {
    text-align: center;
}

.publitio-feedback-block {
    font-size: 0.8rem;
}

.publitio-feedback-error-block {
    color: #cd3703;
}

.publitio-feedback-success-block {
    color: #4BB543;
}
